.showcase__searchbar {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  display: flex;
  width: 100%;
  justify-content: center;
  top: 56px;
}

.showcase__container {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.showcase__settings {
  width: 100%;
}

.showcase__paginator {
  width: 100%;
}

.showcase__scroll-btn {
  position: sticky;
  bottom: 13%;
  left: 83%;
  z-index: 999;
}

@media (min-width: 700px) {
  .showcase__searchbar {
    top: 64px;
  }

  .showcase__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .showcase__item {
    width: 350px;
  }

  .showcase__scroll-btn {
    display: none;
  }
}
