<app-search-bar class="showcase__searchbar" (search)="search($event)"></app-search-bar>

<app-order-by class="showcase__order" (order)="order($event)"></app-order-by>

<div class="showcase__container" *ngIf="filteredItems.length > 0; else noResults">
  <app-showcase-item
    class="showcase__item"
    *ngFor="let item of filteredItems"
    [item]="item"
    (addFav)="addFav($event)"
  ></app-showcase-item>
</div>

<ng-template #noResults>
  <h3>Lo sentimos, no hemos encontrado lo que buscas.</h3>
</ng-template>
