<app-search-bar class="showcase__searchbar" (search)="search($event)"></app-search-bar>

<div class="showcase__container">
  <div class="showcase__settings" *ngIf="filteredItems.length > 0">
    <app-order-by class="showcase__order" (order)="order($event)"></app-order-by>
  </div>

  <ng-container *ngIf="filteredItems.length > 0">
    <app-showcase-item
      class="showcase__item"
      *ngFor="let item of filteredItems"
      [item]="item"
      (addFav)="addFav($event)"
    ></app-showcase-item>
  </ng-container>

  <div class="showcase__no-results" *ngIf="filteredItems.length === 0">
    Lo sentimos, no hemos encontrado los artículos que buscas.
  </div>

  <mat-paginator
    class="showcase__paginator"
    #paginator
    [disabled]="filteredItems.length === 0"
    (page)="handlePageEvent($event)"
    [length]="listLength"
    pageSize="5"
    [hidePageSize]="true"
    aria-label="Select page"
  >
  </mat-paginator>

  <button
    *ngIf="filteredItems.length > 0"
    class="showcase__scroll-btn"
    color="primary"
    mat-mini-fab
    aria-label="Scroll to top"
    (click)="scrollTop()"
  >
    <mat-icon>arrow_upward</mat-icon>
  </button>
</div>
